footer img {
    transition: transform 0.3s ease;
}

footer img:hover {
    transform: scale(1.1);
}

.footer-text {
    font-family: 'Montserrat', 'sans-serif';
    color: inherit;
    font-size: 20px;
    font-weight: bold;
}

@media (max-width: 576px) {
    .footer-logo {
        max-width: 120px;
    }
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  text-align: center;
  z-index: 1000;
}