<div class="container mt-2">
    <h2 class="fw-bold">Dirección</h2>

    <div class="d-flex align-items-start gap-3">
        <div>
            <p class="mb-0"><strong>Carrera 81c #4a Sur, Bogotá</strong></p>
            <a href="https://www.google.com/maps/dir/?api=1&destination=Carrera+81c+calle+48a+sur+03,+Bogotá"
                target="_blank" class="text-decoration-underline"><strong>Ver dirección</strong></a>
        </div>
        <div>
            <a href="https://www.google.com/maps/dir/?api=1&destination=Carrera+81c+calle+48a+sur+03,+Bogotá"
                target="_blank">
                <img src="https://firebasestorage.googleapis.com/v0/b/barbershop-1e2aa.firebasestorage.app/o/logos%26varios%2Fimage-position.png?alt=media&token=32c963cf-c19e-4caa-bb14-8099e9b39cfd"
                    alt="Mapa" class="rounded shadow-sm">
            </a>
        </div>
    </div>
    <hr class="my-4">
    <div class="d-flex align-items-center justify-content-between" (click)="toggleHorario()" style="cursor: pointer;">
        <div class="d-flex align-items-center gap-2">
            <i class="bi bi-clock"></i>
            <span><strong>Abierto hoy 09:00 AM - 08:00 PM</strong></span>
        </div>
        <i class="bi" [ngClass]="horarioExpandido ? 'bi-chevron-up' : 'bi-chevron-down'"></i>
    </div>
    @if (horarioExpandido) {
    <div class="mt-3">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Día</th>
                    <th>Apertura</th>
                    <th>Cierre</th>
                </tr>
            </thead>
            <tbody>
                @for (horario of horarios; track $index) {
                <tr
                    [ngStyle]="horario.dia === 'Miércoles' ? {'--background-color': '#f2e01b', '--text-color': '#212529'} : null">
                    <td>{{ horario.dia }}</td>
                    <td>{{ horario.apertura }}</td>
                    <td>{{ horario.cierre }}</td>
                </tr>

                }
            </tbody>
        </table>
    </div>
    }

</div>