<div class="d-flex flex-column flex-lg-row align-items-start align-items-lg-center gap-3">
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
            <button type="button" class="btn d-flex align-items-center gap-2 custom-Buttons-Nav" [ngClass]="{
        'btn-light': isDarkMode,
        'btn-outline-light': !isDarkMode && !information?.color,
        'btn-dark': !isDarkMode && information?.color
      }" id="navbarSettingsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-gear fs-4"></i>
                <span class="fw-bold">Settings</span>
                <i class="bi bi-caret-down-fill fs-6"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-end dropdown-menu-dark text-small shadow"
                aria-labelledby="navbarSettingsDropdown">
                <li>
                    <a class="dropdown-item d-flex align-items-center gap-2" (click)="themeToggle.emit()">
                        <i
                            [ngClass]="isDarkMode ? 'bi bi-brightness-high-fill fs-4' : 'bi bi-moon-stars-fill fs-4'"></i>
                        Cambiar tema
                    </a>
                </li>
                <li>
                    <a class="dropdown-item d-flex align-items-center gap-2"
                        (click)="user?.uid ? logout.emit() : login.emit()">
                        <i [ngClass]="user?.uid ? 'bi bi-box-arrow-in-left fs-3' : 'bi bi-box-arrow-in-right fs-3'"></i>
                        {{ user?.uid ? 'Cerrar sesión' : 'Iniciar sesión' }}
                    </a>
                </li>

            </ul>
        </li>
    </ul>
</div>