<div class="card mx-auto text-white custom-card">

  <img
    [src]="information?.logo"
    class="card-img"
    alt="Profile image"
  />

  <div class="card-overlay d-flex flex-column justify-content-end text-center">
    
    <h5 class="fw-bold mb-3 text-dark">
      {{ information?.tittle }}
    </h5>

    <div class="social-icons mb-3">
      <a [href]="'https://wa.me/' + information?.celular" target="_blank">
        <i class="bi bi-whatsapp"></i>
      </a>
      <a [href]="'https://instagram.com/' + information?.instagram" target="_blank">
        <i class="bi bi-instagram"></i>
      </a>
      <a [href]="'https://facebook.com/' + information?.face" target="_blank">
        <i class="bi bi-facebook"></i>
      </a>
      <a [href]="'https://www.tiktok.com/@' + information?.tiktok" target="_blank">
        <i class="bi bi-tiktok"></i>
      </a>
    </div>

    <button
      type="button"
      (click)="navigateToServices()"
      class="btn btn-premium">
      Agendar
    </button>

  </div>
</div>
