.typeLetterNav {
    font-family: 'Dancing Script';
    font-size: 30px;
    font-weight: 700;
    padding-left: 20px;
}

.aqua-gradient {
    background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}

.aqua-gradient-amate {
    background: linear-gradient(40deg, #ff70a6, #f5dae8) !important;
}