<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand typeLetterNav">{{information?.tittle || 'Cristian J Barber Shop'}} </a>
        <button class="navbar-toggler" (click)="isMenuOpen = !isMenuOpen">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div [ngClass]="{'collapse navbar-collapse': true, 'show': isMenuOpen}" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item" style="margin-left: 20px;">
                    <a class="nav-link d-flex align-items-center gap-2" (click)="toggleTheme()">
                        @if (isDarkMode) {
                        <i class="bi bi-moon-stars-fill fs-3"></i>
                        <span style="font-family: Nunito-Sans;"><strong>{{titleTheme}} </strong></span>
                        } @else {
                        <i class="bi bi-brightness-high-fill fs-3"></i>
                        <span style="font-family: Nunito-Sans;"><strong>{{titleTheme}} </strong></span>
                        }
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<app-spinner></app-spinner>
<router-outlet></router-outlet>