

.testimonial-card .card-up {
  height: 120px;
  overflow: hidden;
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.aqua-gradient {
  background: linear-gradient(40deg, #2096ff, #05ffa3) !important;
}
.aqua-gradient-amate {
  background: linear-gradient(40deg, #ff70a6, #f5dae8) !important;
}

.testimonial-card .avatar {
  width: 160px;
  height: 160px;
  margin-top: -80px;
  overflow: hidden;
  border: 5px solid #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #000; /* importante para que no se vea blanco alrededor */
}


.typeLetter {
  font-family: 'Dancing Script';

}
.text-direction{
  font-family: 'Nunito-Italic';
  font-family: 23px;
  font-weight: 600;
}
.text-dark {
  color: var(--text-color) !important;
}

.text-muted {
  color: var(--text-color) !important;
  opacity: 0.6;
}

