<div class="container">
    <app-steppers [currentStep]="1"></app-steppers>


    <div class="row mb-3 mt-5">
        <app-search-filter [quantityResults]="quantityResults" (changeText)="filterUpdate($event)"
            [placeHolder]="'Buscar servicio...'"></app-search-filter>
        <div class="col-md-6 ocultar-scroll" style="max-height: 600px; overflow-y: auto;">
            @for (item of servicios| filter:'nombre':filtroTexto; track $index) {
            <div class="container">
                <section class="mx-auto my-5" style="max-width: 23rem;">

                    <div class="card">
                        <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
                            <img [src]="item.foto" alt="{{item.nombre}}" loading="lazy" (load)="item._loaded = true"
                                class="img-fluid img-custom" />

                        </div>
                        <div class="card-body">
                            <h5 class="card-title font-weight-bold"><a>{{ item.nombre }}</a></h5>
                            <p class="lead"><strong>
                                    <h6 class="text-success">
                                        {{item.valor | currency:'$':'symbol':'1.0-0'}} - {{item.duracion}} Min
                                    </h6>
                                </strong></p>
                            <p class="card-text">
                                {{ item.detalle }}
                            </p>
                            <button type="button" class="btn btn-primary btn-floating" [ngClass]="{
    'btn-dark': isSeleccionado(item.nombre),
    'btn-outline-primary': !isSeleccionado(item.nombre)
  }" (click)="toggleServicio(item)">
                                <i class="bi fs-3" [ngClass]="isSeleccionado(item.nombre) ? 'bi-dash' : 'bi-plus'"></i>
                            </button>
                        </div>
                    </div>
                </section>
            </div>
            }
        </div>
        <div class="col-sm-6">
            <app-detail-order [serviciosSeleccionados]="order.serviciosSeleccionados"
                [totalServicios]="order.totalServicios" [barberoSeleccionado]="order.barberoSeleccionado"
                [fechaReserva]="order.fechaReserva" [horaReserva]="order.horaReserva" [titulo]="'Detalle de servicios'"
                [viewButton]="true">
            </app-detail-order>
        </div>
    </div>
    <app-footer></app-footer>