.img-custom {
    height: 100%;
    object-fit: cover;
    width: min-content;
    border-radius: 13px;
}

.btn-floating {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
    padding: 0;
}

.btn-outline-primary i {
    color: white;
}

.btn-dark i {
    color: white;
}
.card{
    border-radius: 13px;
}