.story-container {
  position: relative;
  width: 100%;
  max-width: 420px;
  /* Controla tamaño máximo en escritorio */
  height: calc(100dvh - 260px);
  /* Llena casi toda la pantalla, incluso móviles */
  overflow: hidden;
  border-radius: 12px;
  background: #000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.story-image {
  width: 100%;
  height: 100%;
  position: relative;
}

.story-image img,
.story-image video,
.story-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* O usa 'contain' si prefieres ver todo */
  display: block;
}

.progress-bar-container {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  display: flex;
  gap: 4px;
  z-index: 2;
}

.progress-bar {
  flex: 1;
  background: rgba(255, 255, 255, 0.3);
  height: 4px;
  border-radius: 2px;
  overflow: hidden;
}

.progress {
  background: white;
  height: 100%;
  width: 0%;
  transition: width 0.1s linear;
}

.story-nav {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  cursor: pointer;
  z-index: 2;
}

.story-nav.left {
  left: 0;
}

.story-nav.right {
  right: 0;
}

@media (max-width: 576px) {
  .story-container {
    max-width: 100%;
    border-radius: 0;
    height: 100dvh;
  }
}

.story-header {
  position: absolute;
  top: 12px;
  left: 16px;
  right: 16px;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 18px;
}

.story-user {
  display: flex;
  align-items: center;
  gap: 10px;
}

.story-user .avatar {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #ff0066;
  padding: 6px;
  background: #000;
  object-fit: contain; /* 👈 aquí va */
}


.story-user .username {
  font-size: 17px;
  font-weight: bold;

}

.story-user .verified {
  width: 18px;
  height: 18px;
}

.like-btn {
  background: none;
  border: none;
  font-size: 28px;
  color: white;
  cursor: pointer;
}

.mute-toggle {
  position: absolute;
   bottom: 1%;
  right: 20px;
  font-size: 28px;
  color: white;
  z-index: 5;
  cursor: pointer;
  background: rgba(0, 0, 0, 0.5);
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}