<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="row">
                    <div *ngFor="let input of ListForms" [class]="input.class + ' mb-3'">
                        <ng-container *ngIf="input.type !== 'file'; else fileUploadTemplate">
                            <label class="form-label" [for]="input.name">
                                <strong>{{ input.title }}</strong>
                            </label>

                            <div class="input-group">
                                <span class="input-group-text" *ngIf="input.icon">
                                    <i class="bi" [ngClass]="input.icon"></i>
                                </span>

                                <ng-container [ngSwitch]="input.type">
                                    <input *ngSwitchCase="'text'" class="form-control" [formControlName]="input.name"
                                        [placeholder]="input.placeholder" />
                                    <input *ngSwitchCase="'password'" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        type="password" />
                                    <textarea *ngSwitchCase="'textarea'" class="form-control"
                                        [formControlName]="input.name" rows="3" [placeholder]="input.placeholder">
                                         </textarea>
                                    <select *ngSwitchCase="'select'" class="form-select" [formControlName]="input.name">
                                        <option value="" disabled>{{ input.placeholder }}</option>
                                        <option *ngFor="let opt of input.options" [value]="opt.value">{{ opt.label }}
                                        </option>
                                    </select>

                                    <input *ngSwitchCase="'currency'" type="text" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        [mask]="input.mask" [prefix]="input.prefix"
                                        [thousandSeparator]="input.thousandSeparator" [disabled]="input.disabled" />
                                    <input *ngSwitchCase="'date'" type="date" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        [disabled]="input.disabled" />
                                    <input *ngSwitchCase="'time'" type="time" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        [disabled]="input.disabled" />
                                    <ng-container *ngSwitchCase="'table'">
                                        <div class="table-responsive w-100">

                                            <table class="table align-middle mb-0 bg-white">
                                                <thead class="bg-light">
                                                    <tr>
                                                        <th>NOMBRE DEL SERVICIO</th>
                                                        <th>DETALLE</th>
                                                        <th *ngIf="this.user?.role !== 'barber'">ACCIONES</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of input?.options"
                                                        [ngStyle]="isSelected(item) ? {'background': '#d4edda'} : {}">
                                                        <td>
                                                            <div class="d-flex align-items-center">
                                                                <img [src]="item.foto" alt=""
                                                                    style="width: 45px; height: 45px"
                                                                    class="rounded-circle" />
                                                                <div class="ms-3">
                                                                    <p class="fw-bold mb-1">{{item.nombre}} </p>
                                                                    <p class="text-muted mb-0">{{item.type}} </p>
                                                                </div>
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <p class="fw-normal mb-1">{{item.valor | currency}} </p>
                                                            <p class="text-muted mb-0">{{item.duracion}} Min </p>
                                                        </td>
                                                        <td *ngIf="this.user?.role !== 'barber'">
                                                            <button *ngIf="!isSelected(item)" type="button"
                                                                class="btn btn-primary btn-no-style me-1"
                                                                (click)="onClickSevice('edit', item); $event.stopPropagation()">
                                                                <i class="bi bi-plus-circle-fill fs-5"></i>
                                                            </button>
                                                            <button
                                                                *ngIf="isSelected(item)"
                                                                type="button" class="btn btn-danger btn-no-style"
                                                                (click)="onClickSevice('delete', item); $event.stopPropagation()">
                                                                <i class="bi bi-trash3 fs-5"></i>
                                                            </button>
                                                        </td>
                                                    </tr>

                                                </tbody>
                                            </table>
                                        </div>
                                    </ng-container>


                                </ng-container>
                            </div>
                            <small class="text-danger"
                                *ngIf="form.get(input.name)?.touched && form.get(input.name)?.errors?.['required']">
                                Este campo es obligatorio.
                            </small>
                            <small class="text-danger"
                                *ngIf="form.get(input.name)?.touched && form.get(input.name)?.errors?.['pattern']">
                                Formato no válido.
                            </small>
                            <small class="text-danger"
                                *ngIf="form.get(input.name)?.touched && form.get(input.name)?.errors?.['required']">
                                Debes seleccionar al menos un servicio.
                            </small>
                        </ng-container>
                        <ng-template #fileUploadTemplate>
                            <div class="profile-upload d-flex flex-column align-items-center justify-content-center">
                                <input type="file" [attr.data-name]="input.name"
                                    [id]="this.editMode ? 'photoInputEdit' : 'photoInput'"
                                    (change)="onPhotoSelected($event)" hidden />

                                <div class="circle" (click)="triggerFileInput()">
                                    <span class="plus-icon">+</span>
                                    <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" class="preview-img" />
                                </div>

                                <p class="mt-2"><strong>{{ input.placeholder }}</strong></p>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">
                        <strong> Guardar</strong>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>