<div class="card">
    <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="row">
                    <div *ngFor="let input of ListForms" [class]="input.class + ' mb-3'">
                        <ng-container *ngIf="input.type !== 'file'; else fileUploadTemplate">
                            <label class="form-label" [for]="input.name">
                                <strong>{{ input.title }}</strong>
                            </label>

                            <div class="input-group">
                                <span class="input-group-text" *ngIf="input.icon">
                                    <i class="bi" [ngClass]="input.icon"></i>
                                </span>

                                <ng-container [ngSwitch]="input.type">
                                    <input *ngSwitchCase="'text'" class="form-control" [formControlName]="input.name"
                                        [placeholder]="input.placeholder" />
                                    <input *ngSwitchCase="'password'" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        type="password" />
                                    <select *ngSwitchCase="'select'" class="form-select" [formControlName]="input.name">
                                        <option value="" disabled>{{ input.placeholder }}</option>
                                        <option *ngFor="let opt of input.options" [value]="opt.value">{{ opt.label }}
                                        </option>
                                    </select>
                                    <input *ngSwitchCase="'currency'" type="text" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        [mask]="input.mask" [prefix]="input.prefix"
                                        [thousandSeparator]="input.thousandSeparator" [disabled]="input.disabled" />
                                    <input *ngSwitchCase="'date'" type="date" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        [disabled]="input.disabled" />
                                    <input *ngSwitchCase="'time'" type="time" class="form-control"
                                        [formControlName]="input.name" [placeholder]="input.placeholder"
                                        [disabled]="input.disabled" />
                                </ng-container>
                            </div>
                            <small class="text-danger"
                                *ngIf="form.get(input.name)?.touched && form.get(input.name)?.errors?.['required']">
                                Este campo es obligatorio.
                            </small>
                            <small class="text-danger"
                                *ngIf="form.get(input.name)?.touched && form.get(input.name)?.errors?.['pattern']">
                                Formato no válido.
                            </small>
                        </ng-container>
                        <ng-template #fileUploadTemplate>
                            <div class="profile-upload d-flex flex-column align-items-center justify-content-center">
                                <input type="file" [attr.data-name]="input.name"
                                    [id]="this.editMode ? 'photoInputEdit' : 'photoInput'"
                                    (change)="onPhotoSelected($event)" hidden />

                                <div class="circle" (click)="triggerFileInput()">
                                    <span class="plus-icon">+</span>
                                    <img *ngIf="previewUrl" [src]="previewUrl" alt="Preview" class="preview-img" />
                                </div>

                                <p class="mt-2"><strong>{{ input.placeholder }}</strong></p>
                            </div>
                        </ng-template>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="submit" class="btn btn-success" [disabled]="form.invalid">
                        <strong> Guardar</strong>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>