<div class=" mt-4 py-5 d-flex justify-content-center align-items-center  p-3">
    <div class="login-card shadow rounded-4 w-100" style="max-width: 420px; padding: 2rem 1.5rem;">
        <div *ngIf="errorMessage" class="alert alert-{{ alertType }} text-center fw-semibold rounded-3 mb-3"
            role="alert">
            {{ errorMessage }}
        </div>
        <ng-container *ngIf="!codeSent; else otpSection">
            <h2 class="text-center fw-bold">Inicia Sesión</h2>
            <p class="text-center fw-semibold mt-3 mb-1">Ingresa tu número de celular</p>
            <p class="text-center text-uppercase small">Te enviaremos un código de confirmación</p>
            <form [formGroup]="formLogin" (ngSubmit)="sendCode()" class="d-grid gap-3 mt-4">

                <!-- TELEFONO -->
                <div class="form-group">
                    <label class="fw-semibold mb-1">Número de celular</label>

                    <div class="input-group shadow-sm rounded-3">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi bi-telephone-fill text-warning"></i>
                        </span>

                        <input type="tel" formControlName="phone" class="form-control border-start-0"
                            placeholder="Ej: 3001234567" [ngClass]="{
                    'is-valid': formLogin.get('phone')?.valid && formLogin.get('phone')?.touched,
                    'is-invalid': formLogin.get('phone')?.invalid && formLogin.get('phone')?.touched
                }" />
                    </div>

                    <div class="invalid-feedback d-block"
                        *ngIf="formLogin.get('phone')?.invalid && formLogin.get('phone')?.touched">
                        El número es obligatorio (10 dígitos y no puede iniciar en 0)
                    </div>
                </div>
                <div class="form-group">
                    <label class="fw-semibold mb-1">Tipo de acceso</label>

                    <div class="input-group shadow-sm rounded-3">
                        <span class="input-group-text bg-white border-end-0">
                            <i class="bi bi-person-badge-fill text-success"></i>
                        </span>

                        <select class="form-select border-start-0" formControlName="type" [ngClass]="{
                    'is-valid': formLogin.get('type')?.valid && formLogin.get('type')?.touched,
                    'is-invalid': formLogin.get('type')?.invalid && formLogin.get('type')?.touched
                }">
                            <option value="" disabled selected>Selecciona tipo</option>
                            <option value="CRISTIANBARBER">Cristian Barber</option>
                            <option value="AMATE">Amate</option>
                            <option value="BARBER">Barbero</option>

                        </select>
                    </div>

                    <div class="invalid-feedback d-block"
                        *ngIf="formLogin.get('type')?.invalid && formLogin.get('type')?.touched">
                        Debes seleccionar un tipo de acceso
                    </div>
                </div>
                <button type="submit" [disabled]="formLogin.invalid"
                    class="btn btn-success py-2 rounded-3 fw-bold mt-2">
                    Iniciar sesión
                </button>

            </form>
        </ng-container>
        <ng-template #otpSection>
            <h2 class="text-center fw-bold">Inicia Sesión</h2>
            <p class="text-center fw-semibold mt-3 mb-1">Ingresa el código único que enviamos</p>
            <p class="text-center text-uppercase small mb-4">
                A tu número celular <span class="text-success fw-bold">{{ phoneNumber }}</span>
            </p>

            <div class="d-flex justify-content-center gap-2 mb-4">
                <input *ngFor="let digit of otpDigits; let i = index" #inputRef
                    class="form-control text-center rounded-circle border border-2 border-secondary" type="text"
                    maxlength="1" style="width: 50px; height: 50px; font-size: 1.5rem;" [value]="code[i]"
                    (input)="onInput($event, i)" (keydown)="onKeyDown($event, i)" placeholder="0" />
            </div>

            <p class="text-center small">
                <strong>
                    ¿No recibiste el código?
                </strong>
                <button class="btn btn-link p-0 text-success fw-semibold" (click)="sendCode(true)">
                    <strong>Reenviar código</strong>
                </button>
            </p>
            <button type="submit" (click)="verifyCode()"
                class="btn btn-success w-100 py-2 rounded-pill text-white fw-bold">
                Verificar
            </button>
        </ng-template>
        <div id="recaptcha-container"></div>
    </div>
</div>
<app-footer></app-footer>